@import "tailwindcss";
.continuous-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
:root {

}
.font-heading {
  font-family: var(--font-cinzel);
}

.font-body {
font-family: var(--font-playfair);
}
@theme inline {
  --color-primary: #C9A24D;
  --color-secondary: #0B0B0B;
  --color-tertiary: #FFFFF0;
  --background-primary: #C9A24D;
  --background-secondary: #0B0B0B;
  --background-tertiary: #FFFFF0;

}
body{
  background-color: #FFFFF0 ;
}

